@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

a {text-decoration:none}
a:hover {text-decoration: none}
ul, li {margin:0;padding:0}

body {font-family: 'NanumBarunGothic', 'Avenier', sans-serif;}

header {
    width: 100%;
    height: 520px;
    background: #1939D6;
    background-image:linear-gradient(133deg, #1939D6, #1939D6 53%, #5886BD);
}

header .container {
    height:520px;
    background: url('../images/background.png') right bottom no-repeat;
    background-size: 70%;
}

header #logo {
    display:block;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
}

header p.what-blueberry-is {
    color: #fff;
    font-size: 28px;
    margin-top: 50px;
    line-height: 50px;
}

header p.introduction {
    color: #BACEFF;
    font-size: 16px;
    line-height: 35px;
}

header #contribute-button {
    display: inline-block;
    margin-top: 50px;
    padding: 13px 40px 10px 40px;
    border-radius: 25px;
    background: #fff;
    color: #1939D6;
    font-size: 16px;
    font-weight: 700;
    transition: 0.15s ease-in;
}

header #contribute-button:hover {
    background:#09229C;
    color: #fff;
}

#content h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #111;
    font: 300 32px/1.4em "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#content p {
    color: #666;
    line-height: 2.0;
    font-size: 20px;
    
}